---
---

@import "variables";

* {
    font-family: $main;
}
.centertext {
    text-align: center;
}
.flexcontain {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}

.flexitem {
    display: block;
}

h1 {
    font-size: 3em;
}
.content {
    margin: 25px;
}
//navbar
nav {
    background-color: $slate;
    padding: 0;
    text-align: center;
    height: 50px;
    margin: -8px;
}
.navlink {
    color: $light;
    text-decoration: none;
    font-family: $main;
    margin: 10px;
    position: relative;
    top: 15px;
}

.navlink:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $light;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navlink:hover:before {
    visibility: visible;
    width: 100%;
}

footer {
    background: $slate;
    color: $light;
    height: 100px;
    margin: 10px -8px -50px -8px;
    padding: 0.5vh 2vw;

}